@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    text-align: justify;
}

body{
    background-image: linear-gradient(to right, #F2811D, #F2AE30);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #9f721fc6;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #5A98BF;
    text-align: center;
    text-shadow: 1px 1px 2px #43728fc3;

}
h2{
    color: #89D9D9;
}
